@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*reusable classes*/
.center-continer {
  max-width: 1740px;
  margin: 0 auto;
  width: 85vw;
}
.section-1 {
  background: linear-gradient(hsla(182, 63%, 54%, 0.7), rgba(0, 0, 0, 0.7)),
    url(images/main.jpeg) center/cover no-repeat;

  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  font-size: 22px;
  text-align: center;
  background: linear-gradient(hwb(182 25% 17% / 0.702), rgba(0, 0, 0,  0.7));
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 10px;
  background-color: rgb(248, 245, 245);
  height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}
.coex {
  font-size: 80px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  font-family: "lato ", sans-serif;
}
nav a {
  text-decoration: none;
  color: rgb(73, 71, 71);
  margin-right: 10px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
}
section a {
  text-decoration: none;

  border: 2px solid;
  padding: 20px 20px 20px 20px;
  margin-top: 0px;
  color: white;
}
.social {
  transition: all 0.5 linear;
}
.social :hover {
  transform: translateY(-10px);
}

.social a {
  margin-left: 20px;
  color: rgb(33, 192, 192);
}

.img-p-continer {
  display: flex;
  justify-content: space-between;
}

.p-continer p {
  margin-bottom: 20px;
}
.p-continer h2 {
  margin-bottom: 20px;
}
.p-continer {
  width: calc(40%-2rem);
}
.img-p-continer img {
  flex: 0 0 calc(50%-2rem);
}
.img-p-continer {
  gap: 2rem;
}
.title-2 {
  font-size: 2rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.76);
}
.p-continer {
  width: calc(45%-2rem);
}

.image-continer {
  flex: 0 0 calc(45%-2rem);
  position: relative;
}
.image-continer img {
  width: 100%;
  z-index: 2;
}
.image-continer::before {
  content: "";
  border: 0.5rem solid hsla(182, 63%, 54%, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: -1.5rem;
  left: -1.5rem;
  z-index: -1;
}
.botton-readmore {
  text-decoration: none;

  padding: 10px 10px 10px 10px;
  color: white;
}
.img-p-continer p {
  font-size: 18px;
}
.grandparent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 3rem;
  transition: all 0.5 linear;
}
.first-parent {
  flex: 0 0 calc(33.33% - 1rem);
  position: relative;
  box-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.25);

  padding-bottom: 50px;
}
.first-parent img {
  width: 100%;
}
.first-parent span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(22, 216, 216);
  padding: 10px 10px 10px;
}
.featured-Title {
  text-transform: uppercase;
  text-align: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 3rem;
}
.featured-Title span {
  color: rgb(37, 202, 202);
}

.first-parent:hover {
  box-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
}
.second-parent {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
.Services-class {
  text-transform: uppercase;
  text-align: center;
  gap: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
  font-size: 2.6rem;
  letter-spacing: 0.5rem;
}
.Services-class span {
  color: rgb(37, 202, 202);
}
.Services-first {
  display: flex;
  justify-content: space-around;
}
.Services-second {
  position: relative;
}
.icon-ser {
  position: absolute;
  top: 0;
  left: -4rem;
  color: rgb(26, 206, 206);
  font-size: 3rem;
}
.Services-grandparent {
  background-color: rgb(247, 245, 245);
  padding: 80px 0;
  font-family: "lato" sans-serif;
  margin-top: 2rem;
}
.all-tours {
  text-align: center;
  font-size: 18px;
  color: white;
  background-color: rgb(43, 182, 182);
  padding: 20px 50px 20px 50px;
  border: none;
  text-transform: uppercase;
  font-family: "lato" sans-serif;
}
.all-tours-parent {
  display: flex;
  justify-content: center;
  margin-top: 5.5rem;
}
.all-tours:hover {
  color: rgb(43, 182, 182);
  background-color: white;
  border: 2px solid rgb(43, 182, 182);
}
.gallery-class {
  display: flex;
  flex-wrap: wrap;
}
.gallery-class-1 {
  width: 25vw;
  position: relative;
  opacity: 2;
  background-color: rgb(34, 175, 175);
}
.gallery-class-1 img {
  width: 100%;
  display: block;
  transition: all 0.5s linear;
}
.gallery-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s linear;
}
.gallery-class-1:hover .gallery-icon {
  opacity: 1;
}
.gallery-class-1:hover img {
  opacity: 0.5;
}
.end {
  background-color: grey;
  padding: 10px 0;
  margin-top: 50px;
}
form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

form input {
  flex: 1 0 auto;
  border: 1px solid rgb(8, 186, 240);
}
.footer {
  text-align: center;
  margin-top: 30px;
  padding: 5rem 0;
}
footer {
  
  background-color: rgb(90, 88, 88);
}
.footer-1 a {
  color: white;
}
